.c-page {
    background-color: hsl(210,100%,97%);
    padding:20px;
}


.l-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title title"
        "paletas paletas"
        "chart config";

}

.l-page__title {
    grid-area: title;
}

.l-page__paletas {
    grid-area: paletas;    
}

.l-page__chart {
    grid-area: chart;    
}

.l-page__config {
    grid-area: config;    
}


.c-main-title {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
}


.l-paletas {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.c-paleta {
    width: 100%;
    background-color: #FFFFFF;
}

.c-paleta__color {
    background-color: #FF0000;
    height: 400px;
}

.c-paleta__hex {

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
}

.c-paleta__hex > input[type=text]{
    display: block;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;  
    width: 80px;

}
.c-paleta__hex > label {
    display: block;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;  
}






.c-paleta__slider-hue {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
}
.c-paleta__slider-hue > input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    width: 40px;
    display: block;
    width: 100%;
}
.c-paleta__slider-hue > input[type=number] {
    width: 40px;
    display: block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
     text-align: right;
}



.c-paleta__slider-saturation {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
}
.c-paleta__slider-saturation > input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    width: 40px;
    display: block;
    width: 100%;
}
.c-paleta__slider-saturation > input[type=number] {
    width: 40px;
    display: block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
     text-align: right;
}



.c-paleta__slider-lightness {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
}
.c-paleta__slider-lightness > input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    display: block;
    width: 100%;
}
.c-paleta__slider-lightness > input[type=number] {
    width: 40px;
    display: block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif; 
    line-height: 10px;
    text-align: right;
}


.c-chart {
    padding-top:10px;
    padding-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.c-panel {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.c-panel__content {
    padding-top: 10px;
}